<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Past Task</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="D MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="event.startTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.startTime"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button secondary class="leftPadding" (click)="save()">Submit</button>
</ion-content>